{% extends "index.html" %}

{% block content %}

<form action="/submit" method="POST">
  <div class="form-group">
    <h3>Name</h3>
    <input
      type="text"
      name="user"
      placeholder="Your name"
    />
  </div>
  <div class="form-group">
    <h3>Tools</h3>
    <select name="tool">
      <option value="">Select Tool</option>
      <option value="php">php</option>
      <option value="python">python</option>
      <option value="docker">docker</option>
      <option value="github">github</option>
    </select>
  </div>
  <div class="form-group">
    <h3>Please rate your skill</h3>
    <input type="radio" name="rating" value="1" /> 1
    <input type="radio" name="rating" value="2" /> 2
    <input type="radio" name="rating" value="3" /> 3
    <input type="radio" name="rating" value="4" /> 4
    <input type="radio" name="rating" value="5" /> 5
    <input type="radio" name="rating" value="6" /> 6
    <input type="radio" name="rating" value="7" /> 7
    <input type="radio" name="rating" value="8" /> 8
    <input type="radio" name="rating" value="9" /> 9
    <input type="radio" name="rating" value="10" checked /> 10
  </div>
  <div class="form-group">
    <h3>Leave a comment</h3>
    <textarea
      name="comments"
      id=""
      cols="30"
      rows="10"
      placeholder="Anything to add?"
    ></textarea>
  </div>
  <input type="submit" value="Submit" class="btn" />
</form>


{% endblock %}